<!DOCTYPE html>
<html lang="en">

      <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- google fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
                  rel="stylesheet">

            <title>About us | Furniture Store | Jake Fernandez</title>

            <link rel="stylesheet" href="../css/styles.css">
            <link rel="stylesheet" href="../css/normalize.css">

      </head>

      <body>
            <header class="header">

                  <h1>Furniture <span> Store</span></h1>
                  <h3>| Jake Fernandez |</h3>

            </header>
            <!-- nav -->
            <div class="contenedor-nav ">
                  <nav class="nav contenedor">
                        <a href="../index.html">Home</a>
                        <a href="aboutus.html">About us</a>
                        <a href="../Layouts/products.html">Shop</a>
                        <a href="blog.html">Blog</a>
                        <a href="galery.html">Galery</a>
                        <a href="contact.html">Contact</a>
                  </nav>
            </div>




            <!-- listado de productos -->
            <main class="main-content contenedor">
                  <h2 class="text-center about-us-title">About <span> Us</span></h2>
                  <div class="maingrid contenedor">
                        <div class="imagen">
                              <img src="../img/Imagenes/nosotros.jpg" alt="Imagen nosotros">
                        </div>
                        <div class="parrafos">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio voluptatem tempore
                                    asperiores
                                    facere, nihil nesciunt placeat rem, repellendus quod earum cupiditate reiciendis
                                    delectus
                                    nulla! Explicabo culpa consectetur minima nulla voluptas.</p>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro numquam tenetur nisi
                                    quas, ducimus ea, ipsam praesentium repellendus ut tempore magni earum esse.
                                    Suscipit
                                    fugiat eos nihil enim ut modi?</p>
                        </div>
                  </div>

            </main>
            <!-- end listado de productos -->



            <footer class="footer ">
                  <!-- Nav1 Footer -->
                  <div class="footer-grid contenedor">

                        <div class="footer-list">
                              <h3>Category</h3>
                              <nav>
                                    <a href="">Cocina</a>
                                    <a href="">Oficina</a>
                                    <a href="">Jardin</a>
                                    <a href="">Cochera</a>
                                    <a href="">Dormitorios</a>
                              </nav>
                        </div>
                        <!-- end nav1 footer -->

                        <!-- Nav1 Footer -->
                        <div class="footer-list">
                              <h3>About Us</h3>
                              <nav>
                                    <a href="">Cocina</a>
                                    <a href="">Oficina</a>
                                    <a href="">Jardin</a>
                                    <a href="">Cochera</a>
                                    <a href="">Dormitorios</a>
                              </nav>
                        </div>
                        <!-- end nav1 footer -->
                        <!-- Nav1 Footer -->
                        <div class="footer-list">
                              <h3>Support</h3>
                              <nav>
                                    <a href="">Frequent Questions</a>
                                    <a href="">Online Help</a>
                                    <a href="">Confianza y seguridad</a>
                              </nav>
                        </div>
                  </div>
                  <!-- end nav1 footer -->

                  <p class="copyright">All Rights Reserved | FurnitureStore | By JakeFernandez</p>
            </footer>


      </body>

</html>