<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
            rel="stylesheet">

        <title> | Furniture Store | Jake Fernandez</title>

        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/normalize.css">

    </head>

    <body>
        <header class="header">

            <h1>Furniture <span> Store</span></h1>
            <h3>| Jake Fernandez |</h3>

        </header>
        <!-- nav -->
        <div class="contenedor-nav ">
            <nav class="nav contenedor">
                <a href="../index.html">Home</a>
                <a href="aboutus.html">About us</a>
                <a href="products.html">Shop</a>
                <a href="blog.html">Blog</a>
                <a href="galery.html">Galery</a>
                <a href="contact.html">Contact</a>
            </nav>
        </div>




        <!-- Mi blog -->
        <main class="main-content contenedor">
            <h2 class="text-center">Our <span> Blog</span></h2>
            <!-- blog entries -->
            <section class="contenedor-blog contenedor">
                <div class="blog">
                    <article>
                        <header>
                            <h2>Colors guide</h2>
                        </header>

                        <div class="imagen">
                            <img src="../img/Imagenes/nosotros.jpg" alt="">
                        </div>

                        <div class="info-text-blog">
                            <p>Date: <span>February 05th, 2023</span></p>
                            <p>Writer: <span>FurnitureStore</span></p>
                        </div>
                        <!-- entry body -->
                        <div class="parrafo-blog">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dicta aperiam officiis, in
                                cum nihil at, veniam distinctio architecto omnis dolores laudantium delectus molestiae
                                mollitia saepe totam quis voluptatem magnam.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio voluptatum, repellendus
                                non laboriosam rerum ipsam consectetur quasi cumque accusantium perspiciatis ex possimus
                                labore? Labore ab, aperiam corporis a esse reiciendis!</p>
                        </div>
                        <!-- end entry body -->

                        <div>
                            <a class="btn btn-blog" href="#">Read</a>
                        </div>


                    </article>
                    <!-- article 2 -->
                    <article class="art">
                        <header>
                            <h2>Colors guide</h2>
                        </header>

                        <div class="imagen">
                            <img src="../img/Imagenes/nosotros.jpg" alt="">
                        </div>

                        <div class="info-text-blog">
                            <p>Date: <span>February 05th, 2023</span></p>
                            <p>Writer: <span>FurnitureStore</span></p>
                        </div>
                        <!-- entry body -->
                        <div class="parrafo-blog">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dicta aperiam officiis, in
                                cum nihil at, veniam distinctio architecto omnis dolores laudantium delectus molestiae
                                mollitia saepe totam quis voluptatem magnam.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio voluptatum, repellendus
                                non laboriosam rerum ipsam consectetur quasi cumque accusantium perspiciatis ex possimus
                                labore? Labore ab, aperiam corporis a esse reiciendis!</p>
                        </div>
                        <!-- end entry body -->

                        <div>
                            <a class="btn btn-blog" href="#">Read</a>
                        </div>


                    </article>
                    <!-- end article 2 -->
                </div>
                <!-- sidebar -->
                <aside>
                    <h3>Another blog entries!</h3>

                    <ul>
                        <li>Color Guide</li>
                        <li>New Models</li>
                        <li>Inner Design Guide</li>
                        <li>Outside Design Guide</li>
                    </ul>
                </aside>
                <!-- end sidebar -->

            </section>
            <!-- end blog entries -->

        </main>
        <!-- end Mi blog -->



        <footer class="footer ">
            <!-- Nav1 Footer -->
            <div class="footer-grid contenedor">

                <div class="footer-list">
                    <h3>Category</h3>
                    <nav>
                        <a href="">Cocina</a>
                        <a href="">Oficina</a>
                        <a href="">Jardin</a>
                        <a href="">Cochera</a>
                        <a href="">Dormitorios</a>
                    </nav>
                </div>
                <!-- end nav1 footer -->

                <!-- Nav1 Footer -->
                <div class="footer-list">
                    <h3>About Us</h3>
                    <nav>
                        <a href="">Cocina</a>
                        <a href="">Oficina</a>
                        <a href="">Jardin</a>
                        <a href="">Cochera</a>
                        <a href="">Dormitorios</a>
                    </nav>
                </div>
                <!-- end nav1 footer -->
                <!-- Nav1 Footer -->
                <div class="footer-list">
                    <h3>Support</h3>
                    <nav>
                        <a href="">Frequent Questions</a>
                        <a href="">Online Help</a>
                        <a href="">Confianza y seguridad</a>
                    </nav>
                </div>
            </div>
            <!-- end nav1 footer -->

            <p class="copyright">All Rights Reserved | FurnitureStore | By JakeFernandez</p>
        </footer>


    </body>

</html>