<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap"
            rel="stylesheet">

        <title> | Furniture Store | Jake Fernandez</title>

        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/normalize.css">

    </head>

    <body>
        <header class="header">

            <h1>Furniture <span> Store</span></h1>
            <h3>| Jake Fernandez |</h3>

        </header>
        <!-- nav -->
        <div class="contenedor-nav ">
            <nav class="nav contenedor">
                <a href="index.html">Home</a>
                <a href="aboutus.html">About us</a>
                <a href="shop.html">Shop</a>
                <a href="blog.html">Blog</a>
                <a href="galery.html">Galery</a>
                <a href="contact.html">Contact</a>
            </nav>
        </div>




        <!-- listado de productos -->
        <main class="main-content contenedor">

            <!-- listado de productos -->
            <main class="main-content contenedor">
                <h2 class="text-center about-us-title">Our <span> Products</span></h2>

                <div class="product-list">
                    <!-- producto1 -->
                    <div class="prd p1">
                        <img src="../img/imagenes/producto1.jpg" alt="Imagen de galeria">
                        <div class="texto-producto">
                            <h3>Product 1</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, repellendus!
                            </p>
                            <p class="price">$200</p>

                            <a class="btn" href="#">Add to car</a>
                        </div>
                    </div>
                    <!-- end producto1 -->
                    <!-- producto1 -->
                    <div class="prd p2">
                        <img src="../img/imagenes/producto2.jpg" alt="Imagen de galeria">
                        <div class="texto-producto">
                            <h3>Product 1</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, repellendus!
                            </p>
                            <p class="price">$200</p>

                            <a class="btn" href="#">Add to car</a>
                        </div>
                    </div>
                    <!-- end producto1 -->
                    <!-- producto1 -->
                    <div class="prd p3">
                        <img src="../img/imagenes/producto3.jpg" alt="Imagen de galeria">
                        <div class="texto-producto">
                            <h3>Product 1</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, repellendus!
                            </p>
                            <p class="price">$200</p>

                            <a class="btn" href="#">Add to car</a>
                        </div>
                    </div>
                    <!-- end producto1 -->
                    <!-- producto1 -->
                    <div class="prd p4">
                        <img src="../img/imagenes/producto4.jpg" alt="Imagen de galeria">
                        <div class="texto-producto">
                            <h3>Product 1</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, repellendus!
                            </p>
                            <p class="price">$200</p>

                            <a class="btn" href="#">Add to car</a>
                        </div>
                    </div>
                    <!-- end producto1 -->
                    <!-- producto1 -->
                    <div class="prd p5">
                        <img src="../img/imagenes/producto5.jpg" alt="Imagen de galeria">
                        <div class="texto-producto">
                            <h3>Product 1</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, repellendus!
                            </p>
                            <p class="price">$200</p>

                            <a class="btn" href="#">Add to car</a>
                        </div>
                    </div>
                    <!-- end producto1 -->
                    <!-- producto1 -->
                    <div class="prd p6">
                        <img src="../img/Imagenes/producto6.jpg" alt="Imagen de galeria">
                        <div class="texto-producto">
                            <h3>Product 1</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, repellendus!
                            </p>
                            <p class="price">$200</p>

                            <a class="btn" href="#">Add to car</a>
                        </div>
                    </div>
                    <!-- end producto1 -->
                </div>
            </main>
            <!-- end listado de productos -->
        </main>
        <!-- end listado de productos -->



        <footer class="footer ">
            <!-- Nav1 Footer -->
            <div class="footer-grid contenedor">

                <div class="footer-list">
                    <h3>Category</h3>
                    <nav>
                        <a href="">Cocina</a>
                        <a href="">Oficina</a>
                        <a href="">Jardin</a>
                        <a href="">Cochera</a>
                        <a href="">Dormitorios</a>
                    </nav>
                </div>
                <!-- end nav1 footer -->

                <!-- Nav1 Footer -->
                <div class="footer-list">
                    <h3>About Us</h3>
                    <nav>
                        <a href="">Cocina</a>
                        <a href="">Oficina</a>
                        <a href="">Jardin</a>
                        <a href="">Cochera</a>
                        <a href="">Dormitorios</a>
                    </nav>
                </div>
                <!-- end nav1 footer -->
                <!-- Nav1 Footer -->
                <div class="footer-list">
                    <h3>Support</h3>
                    <nav>
                        <a href="">Frequent Questions</a>
                        <a href="">Online Help</a>
                        <a href="">Confianza y seguridad</a>
                    </nav>
                </div>
            </div>
            <!-- end nav1 footer -->

            <p class="copyright">All Rights Reserved | FurnitureStore | By JakeFernandez</p>
        </footer>


    </body>

</html>